* {
    font-family: 'Poppins', sans-serif;
    text-transform:uppercase !important
}

body {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase !important
}

.bg-muted {
    background: #f9f8f8 !important;
}

.input {
    width: 100% !important;
    height: 50px !important;
    border-radius: 0px !important;
    border: 0.1px solid #e3e3e3 !important;
    text-align:initial !important;
    padding-left:10px !important;
}

.text-mutedd {
    color: #e3e3e3;
}



.sizeSpace {
    font-weight: 600 !important;
}

.size-12 {
    font-size:12px !important;
}

.size-14 {
    font-size: 14px !important
}

.size-20 {
    font-size: 20px !important
}

.bg-success, btn-success {
    background-color: #06c6ec !important;
}

#sideba {

    width:100%;
    transition: 0.1s all ease-in-out;
}

#sideba.activ {
    width:0px;
}


.pointer {
    cursor:pointer !important;
}

table thead tr {
    background: #f9f8f8;
}




    table thead tr th label {
        display: inline-block;
        color: #0d6efdc2 !important;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
    }


    table thead tr th {
        border-bottom:0px !important;
    }


table tbody tr td {
    padding: 8px 10px;
    border-top: 0.1px solid #e3e3e3;
    border-bottom: 0px;
    font-size: 13px;
    /* font-weight: 600; */
    color: #6c7589;
    text-transform: uppercase;
}


.dt-button {
    border: none !important;
    background: #f9f8f8 !important;
    color: #0d6efdc2 !important;
    font-weight: 600;
}

.text-danger {
    color:#dc3545 !important;
}

.border-danger {
    border: 0.1px solid #dc3545 !important;
}


.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}



.loading {
    overflow: hidden;
    background: #000102d9;
    min-height: 100vh;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

.loader {
    color: #0d6efd;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

    .loader:before,
    .loader:after {
        content: '';
        position: absolute;
        top: 0;
    }

    .loader:before {
        left: -3.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .loader:after {
        left: 3.5em;
    }

@-webkit-keyframes load7 {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}



.rig {
    width: 0% !important;
}


.loginPerfil:hover {
    background:#e7e7e7 !important;
}


.text-muted {
    color: #0d6efdc2 !important;
}


