
.vs/MotoCredito/v16/Server/sqlite3/db.lock

.vs/MotoCredito/v16/Server/sqlite3/storage.ide

.vs/MotoCredito/v16/Server/sqlite3/storage.ide-shm

.vs/MotoCredito/v16/Server/sqlite3/storage.ide-wal
